.image-size{
    width: 200px;
    height: 120px;
    margin-left: 33%;
    // margin-right: auto;
}

ion-toolbar{
    background-color: var(--ion-color-toolbar);
}

ion-toolbar ion-icon{
    width: 60px;
    height: 50px;
    align-items: center;
}
ion-icon{
    width: 60px;
    height: 50px;
    align-items: center;
}

ion-header{
    color: white;
}

.image-background{
    display: flex;
    align-items: center;
    height: 100%;
}

.centrar-elementos{
    display: flex;
    align-items: center;
    max-height: 95%;
    flex-direction: column;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    
    flex-wrap: nowrap;
    overflow-y: scroll!important;
    overflow-x: hidden;
}
.centrar-icon{
    display: flex;
    align-items: center;
    margin-top: 10%;
    width: 110px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.centrar-div{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

ion-content{
    --background: #cecece;
    height: 5000px;
    // --background-color: black;
}