<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()"><ion-icon name="menu-sharp" class="icon-size"></ion-icon></ion-button>
      <ion-title>HABITACIONES</ion-title>
    </ion-buttons>
    <ion-img src="assets/img/LogoBlancoCM.png" class="image-size"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button shape="round" routerLink="/add-bedrooms">
    <ion-icon name="add"></ion-icon>
  </ion-button>

  <ion-item>
  </ion-item>

  <div class="ion-padding">
    <ngx-datatable class="material" [limit]="8" [rows]="rows" [rowHeight]="60" [columns]="columns" [columnMode]="'force'"
    [sortType]="" [headerHeight]="50" [footerHeight]="50" (activate)='onActivate($event)'
    >
      
      <ngx-datatable-column name="id"></ngx-datatable-column>
      <ngx-datatable-column name="numero"></ngx-datatable-column>
      <ngx-datatable-column name="edificio"></ngx-datatable-column>
      <ngx-datatable-column name="piso"></ngx-datatable-column>
      <ngx-datatable-column name="tipo"></ngx-datatable-column>
      <ngx-datatable-column name="Opciones">
        <ng-template ngx-datatable-cell-template>
          <ion-button color="primary" (click)="alertaEditar()">
            <ion-icon name="pencil-sharp"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="alertaEliminar()">
            <ion-icon name="trash-sharp"></ion-icon>
          </ion-button>    
        </ng-template>
      </ngx-datatable-column> 
    </ngx-datatable>
  </div>
</ion-content>
