<ion-header>
  <ion-toolbar>
    <ion-title>bedrooms</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button memu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable 
      class="material"
      [limit]="9" 
      [rows]="rows" 
      [rowHeight]="50" 
      [columns]="columns"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="50" 
      [footerHeight]="50">
    
      <ngx-datatable-column name="FECHA" ></ngx-datatable-column>
      <ngx-datatable-column name="HABITACION 1" ></ngx-datatable-column>
      <ngx-datatable-column name="HABITACION 2" ></ngx-datatable-column>
      <ngx-datatable-column name="HABITACION 3" ></ngx-datatable-column>
      <ngx-datatable-column name="HABITACION 4" ></ngx-datatable-column>
      <ngx-datatable-column name="HABITACION 5" ></ngx-datatable-column>
      <ngx-datatable-column name="HABITACION 6" ></ngx-datatable-column>
      <ngx-datatable-column name="HABITACION 7" ></ngx-datatable-column>
      <ngx-datatable-column name="HABITACION 8" ></ngx-datatable-column>
      
      
        

    </ngx-datatable>

  </div>
</ion-content>
