<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button memu="main-menu"></ion-menu-button>
      <ion-title>HABITACIONES</ion-title>    </ion-buttons>
    <ion-img src="assets/img/LogoBlancoCM.png" class="image-size"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button shape="round" routerLink="/add-bedrooms">
    <ion-icon name="add"></ion-icon>
  </ion-button>

  <div class="ion-padding">
    <ngx-datatable class="material" [limit]="8" [rows]="rows" [rowHeight]="60" [columns]="columns" [columnMode]="'force'"
    [sortType]="" [headerHeight]="50" [footerHeight]="50">
    
      <ngx-datatable-column name="id"></ngx-datatable-column>
      <ngx-datatable-column name="numero"></ngx-datatable-column>
      <ngx-datatable-column name="edificio"></ngx-datatable-column>
      <ngx-datatable-column name="piso"></ngx-datatable-column>
      <ngx-datatable-column name="tipo"></ngx-datatable-column>
      <ngx-datatable-column name="VER MAS">
        <ng-template ngx-datatable-cell-template>
          <ion-button color="primary">
            <ion-icon name="pencil-sharp"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="trash-sharp"></ion-icon>
          </ion-button>    
        </ng-template>
      </ngx-datatable-column> 
    </ngx-datatable>
  </div>
</ion-content>
