<ion-header>
  <ion-toolbar>
    <ion-title>Verification de correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <h2>Gracias por registrate</h2>
      <p>Te hemos enviado un correo electrónico de confirmación a <strong>{{user.email}}</strong></p>
      <p>Por favor checa tu correo y haz click en el link para verificar tu direccion de correo electronico</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="onSendEmail()">Reenviar correo de verificación</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
