
<ion-header >
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button memu="main-menu"></ion-menu-button>
      <ion-title></ion-title>
    </ion-buttons>
    <ion-img src="assets/img/LogoBlancoCM.png" class="image-size centrar"></ion-img>    
  </ion-toolbar>
</ion-header>

<ion-content >

<!-- <ion-card class=""> -->
  <div class="image-background">
    <ion-card class="ion-align-self-center RA ion-card">
      <ion-label class="center-span">RESERVA AHORA</ion-label>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="3" class="ion-text-center">
          <ion-label>FECHA DE LLEGADA</ion-label>
          <ion-item>
            <ion-icon name="calendar-sharp" color="medium"></ion-icon>
            <ion-datetime class="centrar" displayFormat="DD MM YY" placeholder="Selecciona una fecha"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-md="3" class="ion-text-center">
          <ion-label>FECHA DE SALIDA</ion-label>
          <ion-item>
            <ion-icon name="calendar-sharp" color="medium"></ion-icon>
            <ion-datetime class="centrar" displayFormat="DD MM YY" placeholder="Selecciona una fecha"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" class="ion-text-center">
          <ion-label>ADULTOS</ion-label>
          <ion-item>
            <ion-icon name="body-sharp" color="medium" item-left></ion-icon>
            <ion-input class="texto" type="number" placeholder="Número de adultos"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" class="ion-text-center">
          <ion-label>NIÑOS</ion-label>
          <ion-item>
            <ion-icon name="body-sharp" color="medium" item-left></ion-icon>
            <ion-input class="texto" type="number" placeholder="Número de niños"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  
  <ion-card class="INF">
    <ion-label class="center-span">HABITACIONES</ion-label> 
    <ion-item-divider color=""></ion-item-divider>
    <ion-row>
      <ion-col class="ion-align-self-start" >
        <ion-card>
          <ion-img src="assets/img/suiteNormal.jpg" ></ion-img>
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            <ion-card-title>Suite</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            La suite normal tendrá una sala, usualmente con un sofacama, comedor, oficina          
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-start" >
        <ion-card>
          <ion-img src="assets/img/suiteMatrimonial.jpg" class=""></ion-img>
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            <ion-card-title>Suite Matrimonial</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            La Suite Matrimonial es una amplia habitación doble con sillón, aire acondicionado, TV de pantalla plana por cable, minibar y con vistas a la ciudad.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-start" >
        <ion-card>
          <ion-img src="assets/img/suiteNiños.jpg" class=""></ion-img>
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            <ion-card-title>Suite para Niños</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Te encantarán las habitaciones Kids and Co especialmente diseñadas para las familias, con atenciones especiales para los más pequeños          
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>

<ion-card class="INF"> 
  <ion-label class="center-span">SERVICIOS</ion-label> 
  <ion-item-divider color=""></ion-item-divider>  
  <ion-row>
    <ion-col class="ion-align-self-start" >
      <ion-card>
        <ion-tab-button >
          <ion-icon name="wifi-sharp" class="iconos" ></ion-icon>
        </ion-tab-button>
        <ion-card-header>
          <ion-card-title class="texto">Internet Inalambrico</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ion-align-self-start" >
      <ion-card>
        <ion-tab-button >
          <ion-icon name="card-sharp" class="iconos" ></ion-icon>
        </ion-tab-button>
        <ion-card-header>
          <ion-card-title class="texto">Llave de Proximidad</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ion-align-self-start" >
      <ion-card>
        <ion-tab-button >
          <ion-icon name="alarm-sharp" class="iconos" ></ion-icon>
        </ion-tab-button>
        <ion-card-header>
          <ion-card-title class="texto">Despertador</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-label class="center-span">CON CARGO ADICIONAL</ion-label>
  <ion-row>
    <ion-col class="ion-align-self-start" >
      <ion-card>
        <ion-tab-button >
          <ion-icon name="shirt-sharp" class="iconos" ></ion-icon>
        </ion-tab-button>
        <ion-card-header>
          <ion-card-title class="texto">Tintoreria</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ion-align-self-start" >
      <ion-card>
        <ion-tab-button >
          <ion-icon name="water-sharp" class="iconos"></ion-icon>
        </ion-tab-button>
        <ion-card-header>
          <ion-card-title class="texto">Lavanderia</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ion-align-self-start" >
      <ion-card>
        <ion-tab-button >
          <ion-icon name="wine-sharp" class="iconos" ></ion-icon>
        </ion-tab-button>
        <ion-card-header>
          <ion-card-title class="texto">Terraza para Eventos</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-card>

</ion-content>
