<ion-header class="ion-card">

        <ion-toolbar color="toolbar"> 
          <ion-buttons slot="end">
          <ion-title>MIS RESERVAS</ion-title>
          <ion-button (click)="openMenu()"><ion-icon name="menu-sharp" class="icon-size"></ion-icon></ion-button>
           </ion-buttons>
           <ion-grid>
             <ion-row>
              <ion-col size = 4></ion-col>
              <ion-col size = 6 class="centrar">
                <ion-img src="assets/img/LogoBlancoCM.png" class="image-size centrar-imagen"></ion-img>  
              </ion-col>
              <ion-col size = 2>
              </ion-col>
             </ion-row>
           </ion-grid>
      </ion-toolbar>
</ion-header>


<ion-content>

  
  <ion-grid>
    <ion-row class="image-background">
      <ion-toolbar>
        <ion-title class="centrar-text">
          <ion-icon name="calendar-outline"></ion-icon> Mis Reservas
        </ion-title>
      </ion-toolbar>
      <ion-col size="12">
        <ion-card class="ion-card_h2 centrar" *ngFor="let reserva of reservas">
          <ion-grid>
            <ion-row>  
              <ion-col size="12">
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label>Reserva hecha por: {{nombre}}</ion-label>
                  <ion-label class="centrar-text">Estado: <ion-text fill="outline">{{reserva.estado}}</ion-text>
                  </ion-label>
                </ion-item>

                <ion-card-content class="centrar-text">
                  DATOS IMPORTANTES DE RESERVA:
                </ion-card-content>
                <ion-card-content class="centrar-text">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        FECHAS:
                        <br>
                        {{reserva.checkIn}} -- {{reserva.checkOut}}
                      </ion-col>
                      <ion-col>
                        MONTO DE LA RESERVA
                        <br>
                        {{reserva.monto}}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
                <ion-card-content class="centrar-text">
                  DATOS DEL HOSPEDADO:
                </ion-card-content>
                <ion-row>
                  <ion-col >
                    <ion-card-content class="centrar-text">
                      NOMBRE: {{reserva.nombreCliente}}
                      <br>
                      TELEFONO: {{reserva.telefonoCliente}}
                      <br>
                      CORREO: {{reserva.correoCliente}}
                    </ion-card-content>
                  </ion-col>
                  <ion-col >
                    <ion-card-content class="centrar-text">
                      HABITACION NUMERO: {{reserva.habitacion}}
                      <br>
                      TITULAR TARJETA: {{reserva.titularTarjeta}}
                      <br>
                      {{reserva.numeroTarjeta}}
                    </ion-card-content>
                  </ion-col>
                </ion-row>
                <ion-item>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
