<ion-header class="ion-card">
  <ion-toolbar color="toolbar">
    <ion-buttons slot="end">
      <ion-title>MIS RESERVAS</ion-title>
      <ion-button (click)="openMenu()"></ion-button>
    </ion-buttons>
    <ion-img src="assets/img/LogoBlancoCM.png" class="image-size centrar-imagen"></ion-img>    
  </ion-toolbar>
</ion-header>


<ion-content>

  
  <ion-grid>
    <ion-row class="image-background">
      <ion-toolbar>
        <ion-title class="centrar-text">
          <ion-icon name="calendar-outline"></ion-icon> Mis Reservas
        </ion-title>
      </ion-toolbar>
      <ion-col size="12">
        <ion-card class="ion-card_h2 centrar">
          <ion-grid>
            <ion-row>
              
              <ion-col size="8">
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label>Reserva hecha por: Arturo Gonzales</ion-label>
                  <ion-label class="centrar-text">Estado: <ion-text fill="outline" color="danger">Cancelada</ion-text>
                  </ion-label>
                </ion-item>

                <ion-card-content class="centrar-text">
                  DATOS IMPORTANTES DE RESERVA:
                </ion-card-content>
                <ion-card-content class="centrar-text">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        FECHAS:
                        <br>
                        12/12/2020 -- 14/12/2020
                      </ion-col>
                      <ion-col>
                        PAGO TOTAL:
                        <br>
                        2,300.00
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
                <ion-card-content class="centrar-text">
                  DATOS DEL HOPEDANTE:
                  <br>
                  NOMBRE: GUADALUPE CHÁVEZ ARROYO<BR>
                  TELEFONO: 4433250233<br>
                  CORREO: MARI33GUADALUPE@GMAIL.COM<BR>
                </ion-card-content>
                <ion-item>
                  <ion-button slot="end" color="medium">¡Ver detalles de reserva!</ion-button>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <img src="assets/img/div-back.jpg" class="image-size_r centrar">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <br>
        <ion-card class="ion-card_h2 centrar">
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label>Reserva hecha por: Arturo Gonzales</ion-label>
                  <ion-label class="centrar-text">Estado: <ion-text fill="outline" color="success">Hospedada</ion-text>
                  </ion-label>
                </ion-item>

                <ion-card-content class="centrar-text">
                  DATOS IMPORTANTES DE RESERVA:
                </ion-card-content>
                <ion-card-content class="centrar-text">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        FECHAS:
                        <br>
                        12/10/2019 -- 16/10/2019
                      </ion-col>
                      <ion-col>
                        PAGO TOTAL:
                        <br>
                        6,700.00
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
                <ion-card-content class="centrar-text">
                  DATOS DEL HOPEDANTE:
                  <br>
                  NOMBRE: GUADALUPE CHÁVEZ ARROYO<BR>
                  TELEFONO: 4433250233<br>
                  CORREO: MARI33GUADALUPE@GMAIL.COM<BR>
                </ion-card-content>
                <ion-item>
                  <ion-button slot="end" color="medium">¡Ver detalles de reserva!</ion-button>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <img src="assets/img/div-back.jpg" class="image-size_r centrar">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <br>
        <ion-card class="ion-card_h2 centrar">
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-item>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label>Reserva hecha por: Guadalupe Chávez</ion-label>
                  <ion-label class="centrar-text">Estado: <ion-text fill="outline" color="medium">Por confirmar</ion-text>
                  </ion-label>
                </ion-item>

                <ion-card-content class="centrar-text">
                  DATOS IMPORTANTES DE RESERVA:
                </ion-card-content>
                <ion-card-content class="centrar-text">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        FECHAS:
                        <br>
                        15/12/2021 -- 16/12/2021
                      </ion-col>
                      <ion-col>
                        PAGO TOTAL:
                        <br>
                        2,700.00
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
                <ion-card-content class="centrar-text">
                  DATOS DEL HOPEDANTE:
                  <br>
                  NOMBRE: GUADALUPE CHÁVEZ ARROYO<BR>
                  TELEFONO: 4433250233<br>
                  CORREO: MARI33GUADALUPE@GMAIL.COM<BR>
                </ion-card-content>
                <ion-item>
                  <ion-button slot="end" color="medium">¡Ver detalles de reserva!</ion-button>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <img src="assets/img/div-back.jpg" class="image-size_r centrar">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <br>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
