.image-size{
    width: 200px;
    height: 120px;
    margin-left: 33%;
    // margin-right: auto;
}

ion-toolbar{
    background-color: var(--ion-color-toolbar);
}

ion-toolbar ion-icon{
    width: 60px;
    height: 50px;
    align-items: center;
}

ion-header{
    color: white;
}

.image-background{
    display: flex;
    align-items: center;
    height: 100%;
}
.centrar-icon{
    display: flex;
    align-items: center;
    width: 110px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.centrar-elementos{
    display: flex;
    align-items: center;
    height: 50%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.centrar-div{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

ion-content{
    --background: #cecece;
    // --background-color: black;
}