<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-grid>
        <ion-row>
        <ion-col size = 3></ion-col>
        <ion-col size = 6 class="centrar">
          <ion-img src="assets/img/LogoBlancoCM.png" class="image-size centrar-imagen"></ion-img>  
        </ion-col>
        <ion-col size = 3>
        </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content">
 <div class="image-background">
  <ion-card class="centrar-elementos">
    <div class="centrar-div">
      <form>
        <ion-item lines="full">
          <ion-item class="centrar-icon">
            <ion-icon name="people-circle-outline" class="centrar-icon"></ion-icon>
          </ion-item >
          <br>
          <br>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" #email required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" #password required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" (click)="onLogin(email, password)" expand="block">Entrar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class=" center-span">
              <a href="/forgot-password">Olvidaste tu contraseña?</a>
            </p>
          </ion-col>
        </ion-row>
        <span class="center-span"> o </span>
        <ion-row>
          <ion-col>
            <!-- <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block">Entrar con Google
            </ion-button> -->
          </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <ion-col>
          <p class="center-span">
            <a href="/Registro">Crea una cuenta</a>
          </p>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
 </div>
</ion-content>