.center-span{
    display: block;
    text-align: center;
}

.centrar{
    height: 80%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    // display: flex;
    // align-items: center;
    // display: flex;
    // align-items: center; 
    // justify-content: center;
}

.image-background{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    // background: #FFD185;
    // // padding: auto;
    // background: url('../../assets/img/div-back.jpg') no-repeat center center / cover;
}

.image-size{
    width: 200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }

.centrarLogin{
    padding: 50px;
    // margin-right: auto;
    // margin-left: auto; 
}

@media (max-width:500px){
    .centrarLogin{
        width: 20px;
    }

}

ion-toolbar{
    background-color: var(--ion-color-toolbar);
  }