<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()"><ion-icon name="menu-sharp" class="icon-size"></ion-icon></ion-button>
      <ion-title>RESERVAS GENERAL</ion-title>
    </ion-buttons>
    <ion-img src="assets/img/LogoBlancoCM.png" class="image-size"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="ion-padding">

    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable class="material" [limit]="8" [rows]="rows" [rowHeight]="60" [columns]="columns" [columnMode]="'force'"
       [headerHeight]="50" [footerHeight]="50">
    
      <ngx-datatable-column name="ID"></ngx-datatable-column>
      <ngx-datatable-column name="FECHA"></ngx-datatable-column>
      <ngx-datatable-column name="CLIENTE"></ngx-datatable-column>
      <ngx-datatable-column name="HABITACIONES"></ngx-datatable-column>
      <ngx-datatable-column name="EMPLEADO"></ngx-datatable-column>
      <ngx-datatable-column name="TOTAL"></ngx-datatable-column>
      <ngx-datatable-column name="VER MAS" prop="Id">
        <ng-template ngx-datatable-cell-template >
          <ion-button color="primary">
            <ion-icon name="pencil-sharp"></ion-icon>
          </ion-button>
          <ion-button color="danger">
            <ion-icon name="trash-sharp"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    
    
    </ngx-datatable>

  </div>
</ion-content>
