<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()"><ion-icon name="menu-sharp" class="icon-size"></ion-icon></ion-button>
      <ion-title>PRECIOS HABITACION  {{viewTitle}}</ion-title>
    </ion-buttons>
    <ion-img src="assets/img/LogoBlancoCM.png" class="image-size"></ion-img>
  </ion-toolbar>
<!-- // calendario -->
  <ion-navbar>
    <ion-buttons end>
        <button ion-button [disabled]="isToday" (click)="today()">Hoy</button>

      
    </ion-buttons>
</ion-navbar>
<!-- // calendario -->
</ion-header>

<ion-content>
  <ion-card>
    <calendar [eventSource]="eventSource"
          [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate"
          (onCurrentDateChanged)="onCurrentDateChanged($event)"
          (onRangeChanged)="reloadSource(startTime, endTime)"
          (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)"
          (onTimeSelected)="onTimeSelected($event)"
          [step]="calendar.step"
          [monthviewDisplayEventTemplate]="template">
          
      </calendar>
    
      </ion-card>

  <ion-button shape="round" routerLink="/add-price">
    <ion-icon name="add"></ion-icon>
  </ion-button>
<!-- // calendario -->




<!-- // calendario -->
  <div class="ion-padding">
    <ngx-datatable class="material" [limit]="8" [rows]="rows" [rowHeight]="60" [columns]="columns" [columnMode]="'force'"
    [sortType]="" [headerHeight]="50" [footerHeight]="50" (activate)='onActivate($event)'>   
      <ngx-datatable-column name="id"></ngx-datatable-column>
      <ngx-datatable-column name="habitacion"></ngx-datatable-column>
      <ngx-datatable-column name="fecha"></ngx-datatable-column>
      <ngx-datatable-column name="precio"></ngx-datatable-column>
      <ngx-datatable-column name="Opciones">
        <ng-template ngx-datatable-cell-template>
          <ion-button color="primary" (click)="alertaEditar()">
            <ion-icon name="pencil-sharp"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="alertaEliminar()">
            <ion-icon name="trash-sharp"></ion-icon>
          </ion-button>    
        </ng-template>
      </ngx-datatable-column> 
    </ngx-datatable>
  </div>

 

</ion-content>
