<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="alertaRegresar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>AGREGAR USUARIOS</ion-title>    
    </ion-buttons>
    <ion-img src="assets/img/LogoBlancoCM.png" class="image-size"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-background">
    <ion-card class="centrar-elementos">
      <div class="centrar-div">
        <ion-item lines="full">
          <ion-label position="floating">Nombre(s)</ion-label>
          <ion-input [(ngModel)]="newUser.nombre" name="nombre" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Apellido Paterno</ion-label>
          <ion-input [(ngModel)]="newUser.apellidoP" name="apellidoP" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input [(ngModel)]="newUser.apellidoM" name="apellidoM" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="newUser.correo" name="correo" type="email" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="newUser.password" name="password" type="password" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Telefono</ion-label>
          <ion-input [(ngModel)]="newUser.telefono" name="telefono" type="number" pattern="[1-9]{1}[0-9]{9}" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Fecha de nacimiento</ion-label>
          <ion-datetime [(ngModel)]="newUser.fechaNac" name="fechaNac" class="centrar" displayFormat="DD MM YY" required></ion-datetime>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Tipo de usuario</ion-label>
          <ion-select [(ngModel)]="newUser.tipoU" name="tipoU">
            <ion-select-option value="Administrador">Administrador</ion-select-option>
            <ion-select-option value="Recepcionista">Recepcionista</ion-select-option>
            <ion-select-option value="Apoyo">Personal de apoyo</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" (click)="guardarUsuario()" expand="block">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </div>
</ion-content>
