<ion-header>
  <ion-toolbar color="toolbar">
    <ion-title>
      <ion-img src="assets/img/LogoBlancoCM.png" class="image-size"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="image-background">
    <ion-card class="centrar-elementos">
      <div class="centrar-div">
        <ion-label class="titulo">Ingresa tu direccion de correo electronico. Se enviara un correo con un link para recuperar tu contraseña</ion-label>
        <br>
        <br>
        <br>
        <form>
          <ion-item lines="full">
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button type="submit" (click)="onResetPassword(email)" expand="block">Solicitar un restablecimiento de contraseña</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </div>
    </ion-card>
  </div>
</ion-content>
