
  <ion-header class="ion-card">
    <ion-toolbar color="toolbar">
      <ion-buttons slot="end">
        <ion-title>RESERVAR</ion-title>
        <ion-button (click)="openMenu()"><ion-icon name="menu-sharp" class="icon-size"></ion-icon></ion-button>
      </ion-buttons>
      <ion-img src="assets/img/LogoBlancoCM.png" class="image-size centrar-imagen"></ion-img>    
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-grid >
      <ion-label routerLink="/busqueda">        
        <ion-icon name="chevron-back-outline"></ion-icon> Habitaciones Disponibles
      </ion-label>
      <ion-row class="image-background">
        <ion-col size="12" >
          <ion-item *ngFor="let habitacion of habitacionesDisponibles">
            <ion-card class="ion-card_h centrar">
              <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <img src="{{habitacion.imagen}}" class="image-size_h centrar">
                  </ion-col>
                  <ion-col size="9">
                    <ion-row>
                      <ion-col>
                        <ion-item>
                          <ion-icon name="pin" slot="start"></ion-icon>
                          <ion-label>{{habitacion.tipo}} </ion-label>
                          <ion-button fill="outline" routerLink="/add-reservation" color="medium">Reservar</ion-button>
                        </ion-item>
                      </ion-col>                    
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <ion-card-content>
                          {{habitacion.descripcion}}
                          <br>
                          <br>
                          Habitación numero: {{habitacion.numero}}
                          <br>
                          Edificio: {{habitacion.edificio}}
                          <br>
                          Piso: {{habitacion.piso}}
                        </ion-card-content>
                      </ion-col>
                      <ion-col size="6">
                        <ion-card-content>
                          <br>
                          <br>
                          DETALLES.
                          <br>
                          Cuenta con: {{habitacion.numeroCama}} cama(s) , tipo {{habitacion.tipoCama}}
                          <br>
                          Tiene capacidad para:
                          {{habitacion.capacidadA}} adultos y {{habitacion.capacidadM}} menor
                        </ion-card-content>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

