
  <ion-header class="ion-card">
    <ion-toolbar color="toolbar">
      <ion-buttons slot="start">
        <ion-menu-button memu="client-menu" side="end"></ion-menu-button>
        <ion-title>HABITACIONES DISPONIBLES</ion-title>
      </ion-buttons>
      <ion-img src="assets/img/LogoBlancoCM.png" class="image-size centrar-imagen"></ion-img>    
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-grid >
      <ion-label routerLink="/busqueda">        
        <ion-icon name="chevron-back-outline"></ion-icon> Habitaciones Disponibles
      </ion-label>
      <ion-row class="image-background">
        <ion-col size="12" >
          <ion-card class="ion-card_h centrar">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img src="assets/img/div-back.jpg" class="image-size_h centrar">
                </ion-col>
                <ion-col size="9">
                  <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label>Master Suite ($1800.00 MX) Una noche</ion-label>
                    <ion-button fill="outline" routerLink="/add-reservation" color="medium">Reservar</ion-button>
                  </ion-item>

                  <ion-card-content>
                    Esta habitación se distingue por su encantadora decoración tipo clasica,
                    además coincide con gustos coloniales y cuenta con vista desplejada
                    <br>
                    <br>
                    DETALLES.
                    <br>
                    1. Cama King Size.
                    <br>
                    2. Para dos personas
                    <br>
                    3. Desayuno incluido
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <br>
          <ion-card class="ion-card_h centrar">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img src="assets/img/div-back.jpg" class="image-size_h centrar">
                </ion-col>
                <ion-col size="9">
                  <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label>Master Suite ($1800.00 MX) Una noche</ion-label>
                    <ion-button fill="outline" routerLink="/add-reservation" color="medium">Reservar</ion-button>
                  </ion-item>

                  <ion-card-content>
                    Esta habitación se distingue por su encantadora decoración tipo clasica,
                    además coincide con gustos coloniales y cuenta con vista desplejada
                    <br>
                    <br>
                    DETALLES.
                    <br>
                    1. Cama King Size.
                    <br>
                    2. Para dos personas
                    <br>
                    3. Desayuno incluido
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <br>
          <ion-card class="ion-card_h centrar">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img src="assets/img/div-back.jpg" class="image-size_h centrar">
                </ion-col>
                <ion-col size="9">
                  <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label>Master Suite ($1800.00 MX) Una noche</ion-label>
                    <ion-button fill="outline" slot="end" routerLink="/add-reservation" color="medium">Reservar</ion-button>
                  </ion-item>

                  <ion-card-content>
                    Esta habitación se distinque por su encantadora decoración tipo clasica,
                    además coincide con gustos coloniales y cuenta con vista desplejada
                    <br>
                    <br>
                    DETALLES.
                    <br>
                    1. Cama King Size.
                    <br>
                    2. Para dos personas
                    <br>
                    3. Desayuno incluido
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

