
  <ion-header class="ion-card">
    <ion-toolbar color="toolbar">
      <ion-title>
        <ion-img src="assets/img/LogoBlancoCM.png" class="image-size centrar"></ion-img>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button class="boton" [routerLink]="['/login']">Iniciar Sesión</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content>

    <ion-card class="ion-card_hh centrar">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2" class="centrar-text">
              <ion-text color="medium" class="ion-color ion-color-secondary ios hydrated">
                <h2> Mi Perfil</h2>
              </ion-text>
            </ion-col>
            <ion-col size="2" class="centrar-text">
              <ion-text color="medium" class="ion-color ion-color-secondary ios hydrated">
                <h2>Habitaciones</h2>
              </ion-text>
            </ion-col>
            <ion-col size="2" class="centrar-text">
              <ion-text color="medium" class="ion-color ion-color-secondary ios hydrated">
                <h2>Servicios</h2>
              </ion-text>
            </ion-col>
            <ion-col size="2" class="centrar-text">
              <ion-text color="medium" class="ion-color ion-color-secondary ios hydrated">
                <h2>Eventos</h2>
              </ion-text>
            </ion-col>
            <ion-col size="2" class="centrar-text">
              <ion-text color="medium" class="ion-color ion-color-secondary ios hydrated">
                <h2>Reservaciones</h2>
              </ion-text>
            </ion-col>
            <ion-col size="2" class="centrar-text">
              <ion-text color="medium" class="ion-color ion-color-secondary ios hydrated">
                <h2>Contacto</h2>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-grid >
      <ion-row class="image-background">
        <ion-toolbar>
          <ion-title class="centrar-text">
            <ion-icon name="chevron-back-outline"></ion-icon> Habitaciones Disponibles
          </ion-title>
        </ion-toolbar>
        <ion-col size="12" >
          <ion-card class="ion-card_h centrar">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img src="assets/img/div-back.jpeg" class="image-size_h centrar">
                </ion-col>
                <ion-col size="9">
                  <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label>Master Suite ($1800.00 MX) Una noche</ion-label>
                    <ion-button fill="outline" color="medium">Reservar</ion-button>
                  </ion-item>

                  <ion-card-content>
                    Esta habitación se distingue por su encantadora decoración tipo clasica,
                    además coincide con gustos coloniales y cuenta con vista desplejada
                    <br>
                    <br>
                    DETALLES.
                    <br>
                    1. Cama King Size.
                    <br>
                    2. Para dos personas
                    <br>
                    3. Desayuno incluido
                  </ion-card-content>
                  <ion-item>
                    <ion-button slot="end" color="medium">¡Ver detalles de reserva!</ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <br>
          <ion-card class="ion-card_h centrar">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img src="assets/img/div-back-j.jpeg" class="image-size_h centrar">
                </ion-col>
                <ion-col size="9">
                  <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label>Master Suite ($1800.00 MX) Una noche</ion-label>
                    <ion-button fill="outline" color="medium">Reservar</ion-button>
                  </ion-item>

                  <ion-card-content>
                    Esta habitación se distingue por su encantadora decoración tipo clasica,
                    además coincide con gustos coloniales y cuenta con vista desplejada
                    <br>
                    <br>
                    DETALLES.
                    <br>
                    1. Cama King Size.
                    <br>
                    2. Para dos personas
                    <br>
                    3. Desayuno incluido
                  </ion-card-content>
                  <ion-item>
                    <ion-button slot="end" color="medium">¡Ver detalles de reserva!</ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <br>
          <ion-card class="ion-card_h centrar">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img src="assets/img/div-back-j.jpeg" class="image-size_h centrar">
                </ion-col>
                <ion-col size="9">
                  <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label>Master Suite ($1800.00 MX) Una noche</ion-label>
                    <ion-button fill="outline" slot="end" color="medium">Reservar</ion-button>
                  </ion-item>

                  <ion-card-content>
                    Esta habitación se distinque por su encantadora decoración tipo clasica,
                    además coincide con gustos coloniales y cuenta con vista desplejada
                    <br>
                    <br>
                    DETALLES.
                    <br>
                    1. Cama King Size.
                    <br>
                    2. Para dos personas
                    <br>
                    3. Desayuno incluido
                  </ion-card-content>
                  <ion-item>
                    <ion-button slot="end" color="medium">¡Ver detalles de reserva!</ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

