#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    // top: 50%;
    // transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .PYM{
  margin:  12px;
  padding: 12px;
  }
  .RA{
    
    padding: 22px;
  margin-left: 5%;
  margin-right: 5%;
  // margin-left: 15%;
    }
  
  .center-span{
    display: block;
    text-align: center;
  }
  
  .centrar{
    margin-left: auto;
    margin-right: auto;
  }
  
  .centrar-text{
    text-align: center;
  }
  
  .image-size{
    width: 200px;
    height: 120px;
  }
  .image-size_h{
    width: 350px;
    height: 210px;
  }
  
  .texto{
    display: block;
    text-align: center;
    font-size: 14px;
  }
  
  ion-toolbar{
    background-color: var(--ion-color-toolbar);
  }
  
  .ion-card{
    background-color:rgb(83, 83, 62);
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 20px;
    width: 100%;
  }
  .ion-card_h{
    background-color:rgb(253, 238, 200);
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(95, 95, 65);
    font-size: 20px;
    width: 90%;
  }
  .ion-card_hh{
    background-color:rgb(253, 238, 200);
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(68, 68, 58);
    font-size: 20px;
    width: 100%;
  }
  
  .boton{
    color: rgb(243, 224, 119);
  }
  .boton_h{
    color: goldenrod;
  }
  
  .image-background{
    display: flex;
    align-items: center;
    background: #FFD185;
    background: url('../../assets/img/div-back.jpeg')
    }
  
  @media (max-width:1000px) and (min-width:500px) {
    // .texto{
    //    font-size: 8px;
    //    display: block;
    //    text-align: center;
  
    // }
  
    .ion-card{
      background-color: rgba(var(--ion-color-toolbar-rgb), 0.79);
      color: white;
      
    }
  
  .fondo-todo{
    background-color: goldenrod;
  }
  
  .INF{
  margin-left: 1%;
  
    }
  
  .FH{
  
  margin:  12px;
  padding: 12px;
    }
  }