<ion-header >
  <ion-toolbar color="toolbar">
    <ion-title>
      <ion-img src="assets/img/LogoBlancoCM.png" class="image-size centrar"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="boton" [routerLink]="['/login']">Iniciar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

<!-- <ion-card class=""> -->
  <div class="image-background">
    <ion-card class="ion-align-self-center RA ion-card">
      <ion-label class="center-span">RESERVA AHORA</ion-label>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="3" class="ion-text-center">
          <ion-label>FECHA DE LLEGADA</ion-label>
          <ion-item>
            <ion-icon name="calendar-sharp" color="medium"></ion-icon>
            <ion-datetime class="centrar" displayFormat="DD MM YY" placeholder="Selecciona una fecha"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-md="3" class="ion-text-center">
          <ion-label>FECHA DE SALIDA</ion-label>
          <ion-item>
            <ion-icon name="calendar-sharp" color="medium"></ion-icon>
            <ion-datetime class="centrar" displayFormat="DD MM YY" placeholder="Selecciona una fecha"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" class="ion-text-center">
          <ion-label>ADULTOS</ion-label>
          <ion-item>
            <ion-icon name="body-sharp" color="medium" item-left></ion-icon>
            <ion-input class="texto" type="number" placeholder="Número de adultos"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" class="ion-text-center">
          <ion-label>NIÑOS</ion-label>
          <ion-item>
            <ion-icon name="body-sharp" color="medium" item-left></ion-icon>
            <ion-input class="texto" type="number" placeholder="Número de niños"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  

  <br>
 <br>
 <br>
 <hr/>
<ion-card class="INF">
  <br>
  <ion-label class="center-span">HABITACIONES</ion-label> 
  <br>
  <ion-row>
    <ion-col class="ion-align-self-start" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-align-self-center" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-align-self-end" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-card>
<br>
 <br>
 <br>
 <hr/>
<ion-card> 
  <br>
  <ion-label class="center-span">SERVICIOS</ion-label> 
  <br>
  <ion-row>
    <ion-col class="ion-align-self-start" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-align-self-center" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-align-self-end" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-card>

</ion-content>
