<ion-header>
  <ion-toolbar color="toolbar">
    <ion-title>
      <ion-img src="assets/img/LogoBlancoCM.png" class="image-size"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="image-background">
    <ion-card class="centrar-elementos">
      <div class="centrar-div">
        <ion-item lines="full">
          <ion-item class="centrar-icon">
            <ion-icon name="person-add" class="centrar-icon"></ion-icon>
          </ion-item >
          <br>
          <br>
          <ion-label position="floating">Nombre(s)</ion-label>
          <ion-input [(ngModel)]="newUser.nombre" name="nombre" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Apellido Paterno</ion-label>
          <ion-input [(ngModel)]="newUser.apellidoP" name="apellidoP" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input [(ngModel)]="newUser.apellidoM" name="apellidoM" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="newUser.correo" name="correo" type="email" #email required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="newUser.password" name="password" #password type="password" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Telefono</ion-label>
          <ion-input [(ngModel)]="newUser.telefono" name="telefono" type="number" pattern="[1-9]{1}[0-9]{9}" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Fecha de nacimiento</ion-label>
          <ion-datetime [(ngModel)]="newUser.fechaNac" name="fechaNac" class="centrar" displayFormat="DD MM YY" required></ion-datetime>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" (click)="onRegister(email, password)" expand="block">Guardar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="center-span">
              <a href="/login">Ya tienes una cuenta</a>
            </p>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </div>
</ion-content>
